
# Collected Dataset from **Kaggal**

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("Dataset.csv")
df.head()

        City       Date  PM2.5   PM10    NO    NO2    NOx    NH3    CO    SO2
0  Ahmedabad   1/4/2015  36.43  58.88  1.70  18.48  17.97  11.86  1.70  18.59
1  Ahmedabad  1/10/2015  36.43  58.88  7.50   7.04  17.79  11.86  0.71   8.29
2  Ahmedabad  7/16/2015  65.37  58.88  0.64   8.07   8.57  11.86  0.64  16.31
3  Ahmedabad  7/17/2015  56.28  58.88  0.60   8.02   8.51  11.86  0.60  18.93
4  Ahmedabad  7/18/2015  48.17  58.88  0.65   8.00   8.55  11.86  0.65  18.99

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14306 entries, 0 to 14305
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   City    14306 non-null  object
 1   Date    14306 non-null  object
 2   PM2.5   14306 non-null  float64
 3   PM10    14306 non-null  float64
 4   NO      14306 non-null  float64
 5   NO2     14306 non-null  float64
 6   NOx     14306 non-null  float64
 7   NH3     14306 non-null  float64
 8   CO      14306 non-null  float64
 9   SO2     14306 non-null  float64
dtypes: float64(8), object(2)
memory usage: 1.1+ MB

In [14]:
df.shape

(14306, 10)

In [15]:
df.isnull().sum()

City     0
Date     0
PM2.5    0
PM10     0
NO       0
NO2      0
NOx      0
NH3      0
CO       0
SO2      0
dtype: int64

In [19]:

df_filled = df.fillna(0)


df_new = df_filled.copy()

df_new.to_csv('Dataset.csv', encoding = 'utf-8-sig')

In [38]:
df.isnull().sum()

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [20]:
import pandas as pd

df = pd.read_csv('Dataset.csv')

def has_more_than_six_consecutive_zeros(row):
  consecutive_zeros = 0
  for value in row:
    if value == 0:
      consecutive_zeros += 1
      if consecutive_zeros > 6:
        return True
    else:
      consecutive_zeros = 0
  return False

rows_to_remove = df.apply(has_more_than_six_consecutive_zeros, axis=1)

df_cleaned = df[~rows_to_remove]


df_cleaned.to_csv('dataset.csv', index=False)

print("Data with more than 6 consecutive zeros has been removed.")

Data with more than 6 consecutive zeros has been removed.